extends ../user_layout.jade

block contents
    - if(type_of_page === "add"){ 
        div
            h1 Add Ingredient

        div

            h3  ชื่อวัตถุดิบ  
                input(class="name_in" type="text" , placeholder="ใส่ชื่อวัตถุดิบ")
            h3  ราคาต่อหน่วย
            input(class="price" type="text" , placeholder="ใส่ราคาต่อหน่วย")
            h3  หน่วย
            input(class="unit" type="text" , placeholder="ใส่หน่วย")
            
        div
            br
            br
            button(class="add_ingredient") เพิ่มรายการวัตถุดิบ
            button(class="cancel") ยกเลิกรายการ

    -}else{

        div
            h1 Edit Ingredient

        div
            h2  ชื่อวัตถุดิบ 
                input(type="text" , value='data["n_raw_material"]')

        div
            

            
        div
            br
            br
            button(class="edit_ingredient") แก้ไขรายการวัตถุดิบ
            button(class="cancel") ยกเลิกรายการ
    -}