extends user_layout.jade

block contents
    div(class="about")
        h1 ABOUT PAGE
        div(class="students")
            div
                img(src="img/tape.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032
            div
                img(src="img/frank.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032
            div
                img(src="img/game.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032        
            div 
                img(src="img/frank.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032
            div
                img(src="img/frank.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032