extends user_layout.jade

block contents
    div(class="about")
        h1 ABOUT US
        div(class="students")
            div
                img(src="img/frank.jpg")
                p นาย พุทธินันท์ เศษน้อย  5801012630149
            div
                img(src="img/game.jpg")
                p นาย ธนัท สุวรรณวงศ์  5801012610067
               
            div 
                img(src="img/beybey.jpg")
                p นาย ผดุงศักดิ์ รักชู  5801012610148
            div
                img(src="img/Pgame.jpg")
                p ธนภูมิ วงค์ไพ  5601012630108
            div
                img(src="img/tape.jpg")
                p นาย ณัฐกิจ  ขัดผาบ  5801012610032     