extends user_layout.jade

block contents
    div
        h1  List Menu Kaokang

    div
        table
            tr
                th no.
                th ชื่อเมนู
                th ราคา
                th
            - for(var i = 0 ; i < data.length ; i+= 1){
                    tr
                        td= i+1 +". "
                        td= data[i]["n_menu"]
                        td= data[i]["price"]
                        td(class="edit" dir="e_"+data[i]["n_menu"]) edit
            - }
    div
        br
        br
        button(class="add_menu") เพิ่มรายการอาหาร
        button(class="cancel") ยกเลิกรายการ
