extends user_layout

block contents 

    div
        h1 HOME PAGE
        h2 KAOKANG DB GRUOP 5
        ul
            li(class = "history") HISTORY
            li(class = "create_food") CREATE FOOD MENU
            li(class = "add_edit_menu") ADD MENU / EDIT MENU
            li(class = "add_edit_ingredient") ADD INGREDIENT / EDIT INGREDIENT

